<nav class="navbar navbar-expand-sm navbar-light bg-light mx-4">
  <!-- navbar-expand-md  makes the menu berger only be display on small screen-->
  <div class="container-fluid">
    <a class="navbar-brand w-50" href="#"
      ><img src="/images/logo.png" class="logo-item" alt="logo artisan"
    /></a>
    <div class="toggle-form">
      <div>
        <form class="d-flex d-sm-none" role="search">
          <!-- d-none Hides the search bar by default on small screens,d-sm-inline d-md-inline and d-lg-inline Makes the search bar visible on small,medium and  larger screens, it is only invisible on extra small screen-->
          <input
            class="form-control me-2 d-none d-sm-inline d-md-inline d-lg-inline"
            type="search"
            placeholder="Search"
            aria-label="Search"
          /><!--the toggleSearch() toggle the second form from visible to invisible on extra small screen-->
          <button
            class="btn btn-outline-success"
            type="button"
            (click)="toggleSearch()"
            arial-label="Toggle search input"
          >
            <img
              src="/images/search-blue.png"
              class="search-globe"
              alt="search-icon"
            />
          </button>
        </form>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
        <p class="mb-0 mt-1">Menu</p>
      </button>
    </div>

    <div class="w-50 brand-items">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-between">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Alimentation</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Bâtiment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Fabrication</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Services</a>
          </li>
        </ul>
      </div>
      <form
        [ngClass]="{
          'd-none d-md-flex': !isSearchVisible,
          'd-flex': isSearchVisible
        }"
        class="d-none d-sm-flex justify-content-end"
      >
        <!--d-none d-md-flex hides it on small screens, but d-flex shows it when isSearchVisible is true) hence both and the one have the same output -->
        <!-- d-none makes it invisible on all screen and d-sm-flex makes it invisble on extra small screen and visible starting from small to large   -->
        <input
          class="form-control me-2 w-50"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          <img
            src="/images/search-blue.png"
            class="search-globe"
            alt="search-icon"
          />
        </button>
      </form>
    </div>
  </div>
</nav>
