<footer class="d-flex justify-content-around">
  <address class="mx-4 mt-3">
    101 cours Charlemagne<br />
    CS 20033,<br />
    69269 LYON CEDEX 02<br />
    France
    <br />

    <a href="tel:+33(0)426734000"><span>Tel:</span> +33(0)4 26 73 40 00</a>
  </address>
  <ul class="mx-4 mt-5">
    <li><a routerLink="/mention-legale">Mention Légales</a></li>
    <li><a routerLink="/donnees-personnelle">Données Personnelles</a></li>
    <li><a routerLink="/accessibilite">Accessibilité</a></li>
    <li><a routerLink="/cookies">cookies</a></li>
  </ul>
</footer>
