<div class="card item-card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [ngStyle]="customStyle">
      Nom : {{ item.nom }}
    </li>
    <!-- Display full stars -->
    <li class="list-group-item" [ngStyle]="customStyle">
      Note :
      <ng-container *ngFor="let star of getFullStars(item.note)">
        <i class="bi bi-star-fill text-warning"></i>
      </ng-container>

      <!-- Display half star if applicable -->
      <ng-container *ngIf="hasHalfStar(item.note)">
        <i class="bi bi-star-half text-warning"></i>
      </ng-container>
    </li>

    <li class="list-group-item" [ngStyle]="customStyle">
      Spécialité : {{ item.specialite }}
    </li>
    <li class="list-group-item" [ngStyle]="customStyle">
      Localisation : {{ item.localisation }}
    </li>
  </ul>
</div>

<!--[ngStyle]="customStyle is been bind from the ts -->
