<main class="mb-5">
  <h1 class="text-center my-5">{{ title() }}</h1>
  <div class="wrapper mx-4">
    <div class="container-fluid overflow-hidden p-0 ml-2">
      <div class="row g-5">
        <div
          *ngFor="let artisan of serviceItems; let i = index"
          class="col-12 col-sm-6 col-md-6 item-card"
        >
          <app-itemcard
            [item]="artisan"
            [index]="i"
            [customStyle]="{
              'background-color': '#0074c7',
              border: 'none',
              color: '#f1f8fc'
            }"
          ></app-itemcard>
        </div>
      </div>
    </div>
  </div>
</main>
<!--[customStyle]="{ 'background-color': '#0074c7', border: 'none' }"  is a custom style thats use to change color of item component (child) in alimentation component (parent), it only changes the color in the parent component-->
