<main>
  <section class="pt-4">
    <form class="d-flex flex-column flex-md-row align-items-center gap-2">
      <input
        class="main-input-field form-control"
        type="text"
        type="search"
        placeholder="Recherche"
        aria-label="search"
      />
      <button class="btn-img">
        <img
          src="/images/search-blue.png"
          alt="search icon"
          class="main-search-icon"
        />
      </button>
    </form>
  </section>
  <h1 class="section-title text-center my-4">{{ title }}</h1>
  <section class="main-item-2 flex-wrap justify-content-center gap-3">
    <div class="card" style="width: 18rem">
      <img
        src="/images/number-one.png"
        class="card-img-top"
        alt="number one icon"
      />
      <div class="card-body">
        <p class="card-text">Choisir la catégorie d'artisanat dans le menu</p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="/images/number-two.png"
        class="card-img-top"
        alt="number two icon"
      />
      <div class="card-body">
        <p class="card-text">Choisir un artisan</p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="/images/number-three.png"
        class="card-img-top"
        alt="number three icon"
      />
      <div class="card-body">
        <p class="card-text">Le contacter via le formulaire de contact</p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="/images/number-four.png"
        class="card-img-top"
        alt="number four icon"
      />
      <div class="card-body">
        <p class="card-text">une reponse sera apportéé sous 48h</p>
      </div>
    </div>
  </section>
  <h2 class="section-title text-center my-5">Employer du mois</h2>
  <section
    class="main-item-3 d-flex flex-wrap justify-content-center gap-3 mb-4 pb-4"
  >
    <div
      *ngFor="let artisan of employeeOfTheMonth"
      class="card item-card"
      style="width: 18rem"
    >
      <app-itemcard [item]="artisan"></app-itemcard>
    </div>
  </section>
</main>
